  <mat-sidenav mode="side" opened>
    <mat-nav-list role="list">
      <mat-list-item role="listitem" routerLink="/featured">
        <mat-icon mat-list-icon>home</mat-icon>
        <p matLine>Home</p>
      </mat-list-item>
      <mat-list-item role="listitem"  routerLink="/subscriptions">
        <mat-icon mat-list-icon>subscriptions</mat-icon>
        <p matLine>Subscriptions</p>
      </mat-list-item>
      <mat-list-item role="listitem"  routerLink="/history">
        <mat-icon mat-list-icon>history</mat-icon>
        <p matLine>History</p>
      </mat-list-item>
      <mat-list-item role="listitem"  routerLink="/liked-videos">
        <mat-icon mat-list-icon>thumb_up</mat-icon>
        <p matLine>Liked Videos</p>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

