<div fxLayout="row wrap">
  <h3>Subscribed Videos</h3>
</div>
<div fxLayout="row wrap" fxLayoutGap="12px grid">
  <div fxFlex="30%" *ngFor="let num of [1,2,3,4,5,6,7,8]">
    <app-video-card></app-video-card>
  </div>

</div>



