<div fxLayout="row wrap">
  <h3>Watch Videos</h3>
</div>
<div fxLayout="row wrap" fxLayoutGap="12px grid">
  <div fxFlex="30%" *ngFor="let video of userHistory">
    <app-video-card ></app-video-card>
  </div>

</div>



