<div fxLayout="row wrap">
  <div fxFlex="20%">Hi</div>
  <div fxFlex="30%">
    <div class="mat-title">Add Video Metadata</div>
    <form [formGroup]="saveVideoDetailsForm">
      <mat-form-field appearance="fill">
        <mat-label>Title</mat-label>
        <input matInput [formControl]="title" required>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <input matInput [formControl]="description" required>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Video Status</mat-label>
        <mat-select [formControl]="videoStatus">
          <mat-option value="PUBLIC">PUBLIC</mat-option>
          <mat-option value="PRIVATE">PRIVATE</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field  appearance="fill">
        <mat-label>Tags</mat-label>
        <mat-chip-list #chipList aria-label="Tag selection">
          <mat-chip *ngFor="let tag of tags" (removed)="remove(tag)">
            {{tag}}
            <button matChipRemove>
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip>
          <input placeholder="Add Tag..."
                 [matChipInputFor]="chipList"
                 [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                 [matChipInputAddOnBlur]="addOnBlur"
                 (matChipInputTokenEnd)="add($event)">
        </mat-chip-list>
      </mat-form-field>
      <div>
        <label for="inputGroupFile01">Upload Thumbnail:</label>
        <div class="custom-file">
          <input id="inputGroupFile01" aria-describedby="inputGroupFileAddon01"
                 (change)="onFileSelected($event)"
                 type="file" class="custom-file-input">
        </div>
        <br>
       <!-- <div>
          <p>Selected File: {{selectedFileName}}</p>
        </div>
        <hr>
        -->

        <div>
          <button type="submit" *ngIf="fileSelected" mat-raised-button color="primary" (click)="onUpload()" >Upload</button>
        </div>
        <br>
      </div>
      <div>
        <button type="submit" mat-raised-button color="primary" (click)="saveVideo()">Save</button>
      </div>

    </form>
  </div>
  <div fxFlex="30%">
    <app-video-player [videoUrl]="videoUrl"></app-video-player>
  </div>
  <div fxFlex="20%">zz</div>
</div>
